html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	word-wrap: break-word;
}

#prompt button {
	font-size: 1.5em;
	padding: 10px;
	background: #ddd;
	color: #333;
	border: none;
	height: 100%;
	line-height: 1.4;
	transition: all 0.3s ease;
}

#prompt button:hover {
	background: #333;
	color: #ddd;
	transition: all 0.3s ease;
}

a:hover {
	cursor: pointer;
}

h2 {
	font-size: 1.5em;
	padding: 10px;
	border-bottom: 5px solid #eee;
}

input {
	font-size: 1.5em;
	padding: 10px;
}

li {
	line-height: 1.6;
	padding: 0.5em;
	font-size: 1.3em;
	overflow: visible;
}

li:nth-child(even) {
	background: #f7f7f7;
}

h2 {
	background: #eee;
}

*:focus {
    outline: 0;
}

.menu {
	display: none;
}

.fade-out {
	opacity: 0;
	transition: opacity 0.6s ease;
}

.time {
	color: #666;
}

.username {
	font-weight: bold;
}

#chat {
	position: relative;
	overflow: auto;
	max-height: calc(100vh - 50px);
	margin-bottom: 50px;
	width: 85%;
}

.user-list {
	width: 15%;
	height: 100%;
	background: #fff;
	border-left: 5px solid #eee;
	position: absolute;
	top: 0;
	right: 0;
}

#in {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	background: #eee;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#in input {
	width: 100%;
}

#emoji {
	height: 30vh;
	width: 30vh;
	position: absolute;
	bottom: 45px;
	right: 5px;
	overflow: auto;
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 15;
	visibility: hidden;
	transition: all .2s ease;
	opacity: 0;
}

#emoji.active {
	visibility: visible;
	opacity: 1;
}

#emoji ul {
	display: inline-flex;
	flex-wrap: wrap;
}

#emoji li {
	background: transparent;
	list-style-type: none;
	height: 32px;
	width: 32px;
	margin: 5px;
	padding: 0;
}

.spinner {
	width: 25px;
	height: 25px;
	margin: 5%;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
}

.spinner-circle {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.spinner-circle::after {
	overflow: visible;
	position: absolute;
    top: -10px; bottom: -10px;
    left: -10px; right: -10px;
    background: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);
    content: '';
    border-radius: 50%;
    animation: 2s skew infinite linear;
}

@keyframes skew {
  0% {
    transform: rotate(0) skew(20deg);
  }
  50% {
    transform: rotate(180deg) skew(0deg);
  }
  100% {
    transform: rotate(360deg) skew(20deg);
  }
}

.emojione {
	width: 32px;
	height: 32px;
}

.emoji-popout {
	display: block;
	position: absolute;
	z-index: 10;
	bottom: 3px;
	right: 3px;
	border-radius: 4px;
	padding: 5px 5px 3px 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	opacity: .7;
	transition: all .2s ease;
}

.emoji-popout:hover {
	opacity: 1;
}

.emoji-popout.active {
	opacity: 1;
}

#prompt {
	z-index: 20;
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .8);
}

#prompt div {
	padding: 10%;
	background: #fff;
	width: 50%;
	height: 50%;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.taken {
	background: #BD1E2E;
	color: #eee;
	margin: 20px 0;
	padding: 20px;
	display: none;
}

.hide {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
}

.options {
	position: absolute;
	bottom: 75px;
}

@media only screen 
  and (max-width: 1024px) 
   {

   	body {
   		overflow: hidden;
   		position: relative;
   	}

   	#prompt div {
		width: 90%;
		height: 90%;
	}

   	.user-list {
		width: 320px;
		height: 100%;
		background: #fff;
		border-left: 5px solid #eee;
		position: absolute;
		top: 0;
		left: 0;
		transform: translateX(-280px);
		transition: all .3s ease;
		border-right: 1px solid #ddd;
	}

	.menu {
		position: absolute;
		top: 10px;
		right: 10px;
	    display: block;
	    width: 25px;
	    height: 25px;
	    transform: rotate(45deg);
	    transform-origin: center;
	    border-top: 5px solid #555;
	    border-right: 5px solid #555;
    }
    
    .menu::before {
      content: '';
      position: absolute;
      width: 75%;
      height: 75%;
      border-top: 5px solid #555;
	  border-right: 5px solid #555;
	  bottom: 0;
	  left: 0;
    }

    .menu--flipped {
    	transform: rotate(-135deg);
    	transition: all .3s ease;
    }

	.show-user-list {
		transform: translateX(0);
	}

	#chat {
		width: calc(100vw - 40px);
		height: calc(100vh - 50px);
		margin: 0 0 0 40px;
	}

	#in {
		border-top: 1px solid #555;
	}

	.options {
		bottom: 2em;
	}
}

@media only screen 
  and (max-width: 500px) 
   {

   	body {
   		font-size: .9em;
   	}

   	#prompt div {
		width: 100%;
		height: calc(100vh + 20px);
	}
}