/* perfect-scrollbar v0.6.8 */
.ps-container{-ms-touch-action:none;overflow:hidden !important}.ps-container.ps-active-x>.ps-scrollbar-x-rail,.ps-container.ps-active-y>.ps-scrollbar-y-rail{display:block}.ps-container.ps-in-scrolling{pointer-events:none}.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail{background-color:#eee;opacity:0.9}.ps-container.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x{background-color:#999}.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail{background-color:#eee;opacity:0.9}.ps-container.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y{background-color:#999}.ps-container>.ps-scrollbar-x-rail{display:none;position:absolute;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;border-radius:4px;opacity:0;-webkit-transition:background-color 0.2s linear,opacity 0.2s linear;-moz-transition:background-color 0.2s linear,opacity 0.2s linear;-o-transition:background-color 0.2s linear,opacity 0.2s linear;transition:background-color 0.2s linear,opacity 0.2s linear;bottom:3px;height:8px}.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x{position:absolute;background-color:#aaa;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;border-radius:4px;-webkit-transition:background-color 0.2s linear;-moz-transition:background-color 0.2s linear;-o-transition:background-color 0.2s linear;transition:background-color 0.2s linear;bottom:0;height:8px}.ps-container>.ps-scrollbar-y-rail{display:none;position:absolute;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;border-radius:4px;opacity:0;-webkit-transition:background-color 0.2s linear,opacity 0.2s linear;-moz-transition:background-color 0.2s linear,opacity 0.2s linear;-o-transition:background-color 0.2s linear,opacity 0.2s linear;transition:background-color 0.2s linear,opacity 0.2s linear;right:3px;width:8px}.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y{position:absolute;background-color:#aaa;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;border-radius:4px;-webkit-transition:background-color 0.2s linear;-moz-transition:background-color 0.2s linear;-o-transition:background-color 0.2s linear;transition:background-color 0.2s linear;right:0;width:8px}.ps-container:hover.ps-in-scrolling{pointer-events:none}.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail{background-color:#eee;opacity:0.9}.ps-container:hover.ps-in-scrolling.ps-x>.ps-scrollbar-x-rail>.ps-scrollbar-x{background-color:#999}.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail{background-color:#eee;opacity:0.9}.ps-container:hover.ps-in-scrolling.ps-y>.ps-scrollbar-y-rail>.ps-scrollbar-y{background-color:#999}.ps-container:hover>.ps-scrollbar-x-rail,.ps-container:hover>.ps-scrollbar-y-rail{opacity:0.6}.ps-container:hover>.ps-scrollbar-x-rail:hover{background-color:#eee;opacity:0.9}.ps-container:hover>.ps-scrollbar-x-rail:hover>.ps-scrollbar-x{background-color:#999}.ps-container:hover>.ps-scrollbar-y-rail:hover{background-color:#eee;opacity:0.9}.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y{background-color:#999}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Archivo Narrow', sans-serif;
	color: #222;
	word-wrap: break-word;
}

#prompt button {
	font-size: 1.5em;
	padding: 10px;
	background: #ddd;
	color: #111;
	border: none;
	height: 100%;
	line-height: 1.4;
	transition: all 0.3s ease;
}

#prompt button:hover {
	background: #333;
	color: #ddd;
	transition: all 0.3s ease;
}

a:hover {
	cursor: pointer;
}

input {
	font-size: 1.5em;
	padding: 10px;
}

li {
	line-height: 1.6;
	font-size: 1.3em;
	overflow: visible;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex: 1 1 auto;
	-moz-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	-o-flex: 1 1 auto;
	flex: 1 1 auto;
}

h2 {
	text-transform: uppercase;
	color: #fff;
	background-color: #666;
	font-size: 1.2em;
	padding: .5em;
	font-weight: bold;
}

*:focus {
    outline: 0;
}

.menu {
	display: none;
}

.fade-out {
	opacity: 0;
	transition: opacity 0.6s ease;
}

.time {
	padding: .5em;
	background-color: #666;
	-ms-align-self: stretch;
	align-self: stretch;
	flex-grow: 0;
	border-bottom: 1px solid #4c4c4c;
	-webkit-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;
}

.time:hover {
	color: #fff;
}

.username {
	padding: .5em;
	font-weight: bold;
	background-color: #8c8c8c;
	-ms-align-self: stretch;
	align-self: stretch;
	flex-grow: 0;
	border-bottom: 1px solid #62737B;
}

.message {
	height: 100%;
	padding: .5em;
	-ms-align-self: center;
	align-self: center;
	flex-grow: 1;
	border-bottom: 1px solid #dceaf1;
	-ms-word-break: break-word;
	word-break: break-word;
}

.time + .message {
	background-color: #8c8c8c;
	border-bottom: 1px solid #62737B;
}

#chat {
	position: relative;
	overflow: auto;
	max-height: calc(100vh - 50px);
	margin-bottom: 50px;
	width: calc(100% - 250px);
}

.user-list {
	width: 250px;
	height: calc(100% - 50px);
	background-color: #8c8c8c;
	position: absolute;
	top: 0;
	right: 0;
	border-left: 1px solid #666;
	overflow: hidden;
}

.user-list ul {
	padding: .5em;
}

.user-prefs {
	width: 225px;
	height: 100%;
	padding-top: 2.5em;
	background-color: white;
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	transform: translateX(150px);
	transition: opacity .1s ease-in, transform .3s ease-in;
	opacity: 0;
}

.user-prefs--show {
	transform: translateX(0);
	opacity: 1;
}

.user-prefs__header {
	cursor: pointer;
	width: 225px;
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	transform: translateX(150px);
	transition: transform .3s ease-in;
}

.user-prefs__header--show {
	transform: translateX(0);
}

.user-prefs__header-center {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	max-width: 0;
	vertical-align: bottom;
	transition: max-width .3s ease-in;
}

.user-prefs__header-center--show {
	max-width: 100%;
}

#in {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	background: #eee;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	z-index: 10;
}

#in input {
	width: 100%;
	border: 0;
}

#emoji {
	height: 30vh;
	width: 30vh;
	position: absolute;
	bottom: 45px;
	right: 5px;
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 15;
	visibility: hidden;
	transition: all .2s ease;
	opacity: 0;
	padding-top:35px;
}

#emoji.active {
	visibility: visible;
	opacity: 1;
}

#emoji ul {
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	width: 100%;
	height: 100%;
}

#emoji li {
	background: transparent;
	list-style-type: none;
	height: 32px;
	width: 32px;
	margin: 5px;
	padding: 0;
}

#emoji-search {
	width: 100%;
	font-size: .8em;
	border: none;
	border-bottom: 1px solid #eee;
	position: absolute;
	top: 0;
	left: 0;
}

.spinner {
	width: 25px;
	height: 25px;
	margin: 5%;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
}

.spinner-circle {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.spinner-circle::after {
	overflow: visible;
	position: absolute;
    top: -10px; bottom: -10px;
    left: -10px; right: -10px;
    background: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);
    content: '';
    border-radius: 50%;
    animation: 2s skew infinite linear;
}

@keyframes skew {
  0% {
    transform: rotate(0) skew(20deg);
  }
  50% {
    transform: rotate(180deg) skew(0deg);
  }
  100% {
    transform: rotate(360deg) skew(20deg);
  }
}

.emojione {
	width: 32px;
	height: 32px;
}

.emoji-popout {
	display: block;
	position: absolute;
	z-index: 10;
	bottom: 3px;
	right: 3px;
	border-radius: 4px;
	padding: 5px 5px 3px 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	opacity: .7;
	transition: all .2s ease;
}

.emoji-popout:hover {
	opacity: 1;
}

.emoji-popout.active {
	opacity: 1;
}

#prompt {
	z-index: 20;
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, .8);
}

#prompt div {
	padding: 10%;
	background: #fff;
	width: 50%;
	height: 50%;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.taken {
	background: #BD1E2E;
	color: #eee;
	margin: 20px 0;
	padding: 20px;
	display: none;
}

.hide {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
}

@media only screen 
  and (max-width: 1024px) 
   {

   	body {
   		overflow: hidden;
   		position: relative;
   	}

   	#prompt div {
		width: 90%;
		height: 90%;
	}

   	.user-list {
		width: 320px;
		height: 100%;
		background: #fff;
		border-left: 5px solid #eee;
		position: absolute;
		top: 0;
		left: 0;
		transform: translateX(-280px);
		transition: all .3s ease;
		border-right: 1px solid #ddd;
	}

	.menu {
		position: absolute;
		top: 10px;
		right: 10px;
	    display: block;
	    width: 25px;
	    height: 25px;
	    transform: rotate(45deg);
	    transform-origin: center;
	    border-top: 5px solid #555;
	    border-right: 5px solid #555;
    }
    
    .menu::before {
      content: '';
      position: absolute;
      width: 75%;
      height: 75%;
      border-top: 5px solid #555;
	  border-right: 5px solid #555;
	  bottom: 0;
	  left: 0;
    }

    .menu--flipped {
    	transform: rotate(-135deg);
    	transition: all .3s ease;
    }

	.show-user-list {
		transform: translateX(0);
	}

	#chat {
		width: calc(100vw - 40px);
		height: calc(100vh - 50px);
		margin: 0 0 0 40px;
	}

	#in {
		border-top: 1px solid #555;
	}

	.options {
		bottom: 2em;
	}
}

@media only screen 
  and (max-width: 500px) 
   {

   	body {
   		font-size: .9em;
   	}

   	#prompt div {
		width: 100%;
		height: calc(100vh + 20px);
	}
}