body {
	font-family: 'Open Sans', sans-serif;
}

li {
	padding: 1em;
	font-size: 1.4em;
}

li:nth-child(even) {
	background: #eee;
}

#in {
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #111;
}

#in input {
	width: 80%;
	font-size: 1.5em;
	padding: 10px;
}

#in button {
	width: 8.5%;
	font-size: 1.5em;
	padding: 10px;
	background: #333;
	color: #eee;
	border: 0;
	height: 100%;
}

#in button:hover {
	background: #555;
}